@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(to top, #172554, #111f43, #0d1932, #0b1222, #030712);
  color: #F0F0F2
}

@layer components {

  .small-fill-btn {
    @apply mt-2 p-2 border-blue-500 border rounded-xl bg-blue-500 text-white text-sm font-bold hover:bg-blue-400 hover:border-blue-400;
  }

  .fill-btn {
    @apply mt-4 p-4 border-blue-500 border rounded-xl bg-blue-500 text-white text-xl font-bold hover:bg-blue-400;
  }

  .small-outline-btn {
    @apply mt-2 p-2 border-blue-500 border rounded-xl text-blue-400 text-sm font-bold hover:bg-blue-400 hover:border-blue-400 hover:text-white;
  }

  .outline-btn {
    @apply mt-4 p-4 border-blue-500 border rounded-xl text-white text-xl font-bold hover:bg-blue-400;
  }

  .form-control {
    @apply bg-transparent border-blue-400 text-white text-xl rounded-lg placeholder:text-gray-200 placeholder:text-xl lg:text-3xl lg:placeholder:text-3xl
  }
}
