body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom, #2089da, #1994df, #1a9ee4, #22a8e8, #2eb2eb);
  background-size: cover;
  background-color: #1a9ee4;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#profile-box {
  background-color: transparent;
}

#profile-container {
  border: solid 1em #89dafa5d;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: inherit;
  top: -124px;
}

#profile-pic {
  border: solid 0.5em white;
  width: 100%;
  height: 100%;
}

#card-content {
  position: inherit;
  top: -124px;
  text-align: center;
  color: #2089da;
}

#card-content h1, #card-content h6 {
  color: #2089da !important;
}

#card-content a {
  color: #2089da;
}